<%- include('./common/header.ejs') %>



<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> New Teacher Registration</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <!-- Basic with Icons -->
      <div class="col-xxl">
        <div class="card mb-4">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">New Teacher Registration</h5>
            <small class="text-muted float-end">Fill in details for the New Teacher</small>
          </div>
          <div class="card-body">
            <form>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Teacher Name</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-fullname2" class="input-group-text"
                      ><i class="bx bx-user"></i
                    ></span>
                    <input
                      type="text"
                      class="form-control"
                      id="basic-icon-default-fullname"
                      placeholder="Teacher Name"
                      aria-label="Teacher Name"
                      aria-describedby="basic-icon-default-fullname2"
                    />
                  </div>
                </div>
              </div>
              <!-- <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Course</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-company2" class="input-group-text"
                      ><i class="bx bx-buildings"></i
                    ></span>
                    <input
                      type="text"
                      id="basic-icon-default-company"
                      class="form-control"
                      placeholder="Course Assigned"
                      aria-label="Course Assigned"
                      aria-describedby="basic-icon-default-company2"
                    />
                  </div>
                </div>
              </div> -->
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Teacher Email</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                    <input
                      type="text"
                      id="basic-icon-default-email"
                      class="form-control"
                      placeholder="john.doe"
                      aria-label="john.doe"
                      aria-describedby="basic-icon-default-email2"
                    />
                    <span id="basic-icon-default-email2" class="input-group-text">@example.com</span>
                  </div>
                  <div class="form-text">You can use letters, numbers & periods</div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Phone No</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-phone2" class="input-group-text"
                      ><i class="bx bx-phone"></i
                    ></span>
                    <input
                      type="text"
                      id="basic-icon-default-phone"
                      class="form-control phone-mask"
                      placeholder="93196 16722"
                      aria-label="93196 16722"
                      aria-describedby="basic-icon-default-phone2"
                    />
                  </div>
                </div>
              </div>

              <div class="mb-3 row">
                <label for="exampleFormControlSelect1" class="form-label col-sm-2">Gender</label>
                <div class="col-sm-10">
                  <select class="form-select" id="gender" aria-label="Default select example">
                    <option selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                    <option value="Prefer Not to">Prefer Not to Disclose</option>
                  </select>
                </div>
              </div>

              <div class="mb-3 row">
                <label for="html5-password-input" class="col-md-2 col-form-label">Password</label>
                <div class="col-md-10">
                  <input class="form-control" type="password" value="" placeholder="Enter Password" id="html5-password-input" />
                </div>
              </div>

              <!-- <div class="row mb-3">
                <label class="col-sm-2 form-label" for="basic-icon-default-message">Message</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-message2" class="input-group-text"
                      ><i class="bx bx-comment"></i
                    ></span>
                    <textarea
                      id="basic-icon-default-message"
                      class="form-control"
                      placeholder="Hi, Do you have a moment to talk Joe?"
                      aria-label="Hi, Do you have a moment to talk Joe?"
                      aria-describedby="basic-icon-default-message2"
                    ></textarea>
                  </div>
                </div>
              </div> -->
              <div class="row justify-content-end">
                <div class="col-sm-10">
                  <button type="submit" id="register-teacher-button" class="btn btn-primary">Register</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const fetchData = (data) => {
          data.username = document.getElementById('basic-icon-default-fullname').value;
          data.password = document.getElementById('html5-password-input').value;
          data.phone = document.getElementById('basic-icon-default-phone').value;
          data.email = document.getElementById('basic-icon-default-email').value;
          data.gender = document.getElementById('gender').value;
          console.log(data)
          return data;
      }
      const registerTeacher = async(data) => {
          
          const response = await fetch('/admin/registerNewTeacher', {
              method: "POST", 
              body: JSON.stringify({
                  username: data.username,
                  email: data.email,
                  phone: data.phone,
                  gender: data.gender,
                  password: data.password,
                  collegeId: "<%= admin.collegeId %>"
              }), 
              headers: {
                  "Content-type": "application/json"
              }
          })
          .then(response => response.json())
          if(response.status == 200){
              window.location.href = "/admin/dashboard/<%= admin.collegeId %>";

          } else {
              alert(response.error);
          }
          console.log(response)
          return response;
      }


      document.getElementById('register-teacher-button').addEventListener('click', e=>{
          e.preventDefault()
          data= {}
          data = fetchData(data)
          registerTeacher(data)
      })

    
  </script>

<%- include('./common/footer.ejs') %>