<%- include('./common/header.ejs') %>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard / Chatroom /</span>
      <%= subject.subjectName %>
    </h4>
    <h3 class="pb-1 mb-4">
      Heading 3 for Chatroom
    </h3>


<%- include('./common/footer.ejs') %>
